<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CreateNewNuGetPackageFromProjectAfterEachBuild" version="1.8.9" targetFramework="net35" developmentDependency="true" />
  <package id="roundhouse" version="0.8.6" targetFramework="net35" />
  <package id="StrawberryPerl64" version="5.22.2.1" targetFramework="net35" />
</packages>